.card-img-top {

    width: 100%;
    /* makes the image responsive */
    height: auto;
    /* maintains the aspect ratio */
    aspect-ratio: 16 / 9;
    /* adjust this value to your preferred aspect ratio */
    object-fit: cover;
    /* ensures the image covers the area without stretching */
    border-radius: 1%;
    margin-bottom: .2rem;
}

.card-title {
    margin-bottom: 0.3rem;
}

.card-button {
    color: white;
    background-color: transparent;
    border-color: #17a2b8;
    margin: 2px 0;
    /* Add space between buttons */
}

.card-button:hover {
    color: #0056b3;
    background-color: #e2e6ea;
    border-color: #0056b3;
}

.navbar {
    margin-bottom: 30px;
    padding-left: 20px;
}

.card {
border-radius: 3%;
padding: 1rem;
margin-bottom: 1rem; /* Add some space below each card */
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

.card:hover {
transform: scale(1.05); /* Adjust scale to desired effect */
transition: transform 0.3s ease-in-out; /* Smooth transition for the hover effect */
}

.container-fluid {
    padding-right: 0;
    /* Reset padding for full width */
    padding-left: 0;
    /* Reset padding for full width */
}

.row {
    margin-right: 0;
    /* Reset margin for full width */
    margin-left: 0;
    /* Reset margin for full width */
}

.card-body-a {
    background-color: #37474F;
    color: white;
    border-radius: 1%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card-body-b {
    background-color: #014887;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.bg-primary {
background-color: #014887!important;
}

a{
    text-decoration: none;
}

.SignIn{
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
}

.SignIn-Dialog{
    --bs-modal-width: 100%;
    width: 100%;
    height: 100%;
    /* height: 100%; */
    width: 100%;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.SignIn-Dialog-Content{
    /* width: calc(100% - 40px); */
    /* height: calc(100% - 40px); */
    margin: 0;
    animation-name: Banner_Animate_Colors;
    background: linear-gradient(144deg, rgba(102,16,242,1) 6%, rgba(63,84,243,1) 17%, rgba(223,78,165,1) 28%, rgba(245,126,66,1) 38%, rgba(255,255,255,1) 60%);
    background-size: 500% 100%;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.SignIn-Dialog-Content-Body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 25px;
    grid-gap: 20px;
}

.SignIn-Dialog-Content-Body-Banner{
    grid-area: 1/1/3/2;
    /* background-color: #6610f2; */
    color: white;
    border-radius: 7px;
    padding: 20px;
    animation-name: Banner_Animate_Colors;
    background: linear-gradient(144deg, rgba(255,255,255,1) 13%, rgba(245,126,66,1) 27%, rgba(223,78,165,1) 38%, rgba(63,84,243,1) 48%, rgba(102,16,242,1) 65%);
    background-size: 500% 100%;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

@keyframes Banner_Animate_Colors{
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.SignIn-Dialog-Content-Body-Banner-Title{
    margin: 0;
    font-size: 4em;
    opacity: 0;
    animation-name: Banner_Title_Animate_Up;
    animation-delay: 0.4s;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    /* background: linear-gradient(90deg, rgba(243,21,255,1) 0%, rgba(38,21,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.SignIn-Dialog-Content-Body-Banner-Title:nth-child(1){
    animation-delay: 0.5s;
}

.SignIn-Dialog-Content-Body-Banner-Title:nth-child(2){
    animation-delay: 0.6s;
}

.SignIn-Dialog-Content-Body-Banner-Title:nth-child(3){
    animation-delay: 0.7s;
}

@keyframes Banner_Title_Animate_Up{
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes Banner_Title_Animate_Right{
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.SignIn-Dialog-Content-Body-Banner-Title-Animated{
    /* background-color: #0056b3; */
    display: flex;
    flex-direction: row;
}

.SignIn-Dialog-Content-Body-Banner-Title-Animated-Letter{
    margin: 0;
    font-size: 4em;
    opacity: 0;
    animation-name: Banner_Title_Animate_Colors;
    /* animation-delay: 0.4s; */
    animation-duration: 0.60s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

@keyframes Banner_Title_Animate_Colors{
    0% {
        color: #f57e42;
        opacity: 0;
        transform: translateX(40px);
    }
    25% {
        color: #ff9a67;
        opacity: 1;
    }
    50% {
        color: #df4ea5;
    }
    75% {
        color: #3f54f3;
    }
    100% {
        color: #ffffff;
        opacity: 1;
        transform: translateX(0px);
    }
}

/* @keyframes Banner_Title_Animate_GradientIntro{
    0% {
        filter: hue-rotate(0deg);
    }
    40% {
        filter: hue-rotate(90deg);
    }
    80% {
        filter: hue-rotate(180deg);
    }
    100% {
        filter: hue-rotate(270deg);
    }
} */

.SignIn-Dialog-Content-Body-Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    animation-name: Form_Title_Animate_Up;
    animation-delay: 1s;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes Form_Title_Animate_Up{
    from {
        transform: translateY(75px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.SignIn-Dialog-Content-Body-Form > form{
    height: auto;
}

.SignIn-Dialog-Content-Body-Form-Password{
    max-width: 250px;
    margin-bottom: 10px;
}

.SignIn-Dialog-Content-Body-Form > button{
    width: auto;
    max-width: 250px;
    margin-top: 10px;
}

.SignIn-Dialog-Content-Body-Form > .invalid-feedback{
    margin-bottom: 10px;
}

.SignIn-Dialog-Content-Body-Copyright{
    grid-area: 2/2/3/3;
}

.SignIn-Dialog-Content-Body-Copyright-Text{
    margin: 0;
    text-align: center;
}

@media only screen and (max-width: 960px){
    .SignIn-Dialog-Content-Body{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 25px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }
    .SignIn-Dialog-Content-Body-Copyright{
        grid-area: unset;
    }
    .SignIn-Dialog-Content-Body-Banner{
        /* display: flex; 
        flex-direction: row; */
        height: 275px;
    }
    .SignIn-Dialog-Content-Body-Banner-Title{
        font-size: 2.5em;
        animation-name: Banner_Title_Animate_Right;
        margin-right: 7px;
    }
}

.container-fluid{
    /* display: none; */
}

.SubjectList{
    align-items: stretch;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#SubjectList{
    position: fixed;
    height: auto;
    padding: 20px;
}

#SubjectList[State="Active"]{
    opacity: 100%;
    pointer-events: all;
    display: block;
}

#SubjectList[State="Inactive"]{
    opacity: 0%;
    pointer-events: none;
    transform: translateX(50%);
    display: none;
}

@keyframes SubjectList_Animate_Opening{
    from {
        transform: translateX(-50px);
        opacity: 0%;
    }
    to {
        transform: translateX(0px);
        opacity: 100%;
    }
}

@keyframes SubjectList_Animate_Closing{
    from {
        transform: translateX(0px);
        opacity: 100%;
    }
    to {
        transform: translateX(-50px);
        opacity: 0%;
    }
}

.SubjectList_Card{
    user-select: none;
    cursor: pointer;
    opacity: 0%;
    animation-name: SubjectList_Card_Animate_Opening;
    /* animation-delay: 1s; */
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.SubjectList_Card > .card{
    height: max-content;
    transition: 0.2s;
}

@keyframes SubjectList_Card_Animate_Opening{
    from {
        transform: translateY(50px);
        opacity: 0%;
    }
    to {
        transform: translateY(0px);
        opacity: 100%;
    }
}

.SubjectList_Empty{
    margin: 0;
    padding: 10px;
    display: none;
}

.SubjectModuleList{
    margin-left: 30px;
    margin-right: 30px;
    user-select: none;
    /* animation-delay: 1s; */
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    position: absolute;
    width: calc(100% - 60px);
    height: calc(100% - 100px);
}

.SubjectModuleList[State="Active"]{
    opacity: 0%;
    pointer-events: all;
    display: block;
}

.SubjectModuleList[State="Inactive"]{
    opacity: 0%;
    pointer-events: none;
    /* transform: translateX(-50%); */
    display: none;
}

@keyframes SubjectModuleList_Animate_Opening{
    from {
        transform: translateX(100px);
        opacity: 0%;
    }
    to {
        transform: translateX(0px);
        opacity: 100%;
    }
}

@keyframes SubjectModuleList_Animate_Closing{
    from {
        transform: translateX(0px);
        opacity: 100%;
    }
    to {
        transform: translateX(100px);
        opacity: 0%;
    }
}

.SubjectModuleList_List{
    /* border-top: solid rgba(0, 0, 0, 0.2); */
    padding-top: 10px;
}

.SubjectModuleList_List > a{
    text-decoration: none;
    color: black;
    opacity: 0%;
    animation-name: SubjectModuleList_List_Item_Animate_Opening;
    /* animation-delay: 1s; */
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes SubjectModuleList_List_Item_Animate_Opening{
    from {
        transform: translateY(50px);
        opacity: 0%;
    }
    to {
        transform: translateY(0px);
        opacity: 100%;
    }
}

.SubjectModuleList_List_Item{
    
}



.SubjectModuleList_List_Item[Status="Active"]{
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    transition: 0.2s;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    /* opacity: 0%; */
    
}


.SubjectModuleList_List_Item[Status="Active"]:hover{
    background-color: rgba(0, 0, 0, 0.2);
    
}



.SubjectModuleList_List_Item[Status="Inactive"]{
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    transition: 0.2s;
    border-radius: 5px;
    padding: 5px;
    color: rgba(0, 0, 0, 0.2);
    /* opacity: 0%; */
    animation-name: SubjectModuleList_List_Item_Animate_Opening_Inactive;
    /* animation-delay: 1s; */
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}


.SubjectModuleList_List_Item_Text, .SubjectModuleList_List_Item_Status, .SubjectModuleList_List_Item_LastModified{
    margin: 0;
}

.SubjectModuleList_List_Item_Status{
    text-align: center;
}

.SubjectModuleList_List_Item_LastModified{
    text-align: right;
}

.SubjectModuleList_List{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
    grid-gap: 20px;
}

.SubjectModuleList_List_Item{
    /* background-color: red; */
    width: auto;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 0cm 0cm 0.28218705792108cm 0.03527338224013cm rgba( 0, 0, 0, 0.25);
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-gap: 10px;
    border: solid #adadad 1px;
    transition: 0.2s;
    cursor: pointer;
}

.SubjectModuleList_List_Item:hover{
    transform: scale(1.05);
}

.SubjectModuleList_List_Item_Thumbnail{
    width: auto;
    height: 175px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;

}

.SubjectModuleList_List_Item_Thumbnail_Image{
    height: 100%;
    transition: 0.75s;
    opacity: 0;
}

.SubjectModuleList_List_Item_Title{
    margin: 0;
    text-align: center;
}

.SubjectModuleList_Header{
    height: 250px;
    width: 100%;
    overflow: hidden;
    /* background-color: #17a2b8; */
}
.SubjectModuleList_Header_Background{
    position: absolute;
    /* background-color: #0056b3; */
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.SubjectModuleList_Header_Background_Fade{
    background: linear-gradient(180deg, rgba(0,0,0,0) 70%, white 100%);
	z-index: 0;
	width: 120%;
	height: 250%;
	position: absolute;
	bottom: 0;
    z-index: 5;
}

.SubjectModuleList_Header_Background_Image{
    width: 100%;
    /* object-fit: cover; */
    filter: blur(20px);
    transition: 0.75s;
    opacity: 0;
}

.SubjectModuleList_Header_SubjectTitle{
    position: absolute;
    /* background-color: #0056b3; */
    width: calc(100% - 40px);
    height: 100%;
    z-index: 6;
    /* bottom: 5px; */
    position: relative;
    bottom: 5px;
    /* background-color: blue; */
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 300px auto;
    align-items: end;
    padding: 20px;
}

.SubjectModuleList_Header_SubjectTitle_Button{
    width: 75px;
    grid-area: 1 / 1 / 2 / 3;
}

.SubjectModuleList_Header_SubjectTitle_Thumbnail{
    /* display: none; */
    width: auto;
    max-width: 275px;
    object-fit: contain;
    grid-area: 2 / 1 / 3 / 2;
    border-radius: 10px;
    box-shadow: 0cm 0cm 0.28218705792108cm 0.03527338224013cm rgba( 0, 0, 0, 0.25);
    transition: 0.75s;
    opacity: 0;
}

.SubjectModuleList_Header_SubjectTitle_Title{
    grid-area: 2 / 2 / 3 / 3;
    align-self: center;
    transition: 0.3s;
}

.SubjectModuleList_Header_SubjectTitle_Title[State="Subfolder"]{
    font-size: 1.5em;
}

.SubjectModuleList_Header_SubjectTitle_Title_2{
    opacity: 0;
    font-size: 1.5em;
    transition: 0.3s;
}

.SubjectModuleList_Header_SubjectTitle_Title_2[State="Subfolder"]{
    opacity: 1;
    font-size: 3em;
}

.SubjectModuleList_Subfolder_List{
    display: flex;
    flex-direction: column;
}

.SubjectModuleList_Subfolder_List_Item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-decoration: none;
    
    color: black;
    /* background-color: #014887; */
    border-radius: 5px;
    margin-bottom: 10px;
    align-items: center;
    /* justify-content: center; */
    padding: 10px;
    transition: 0.2s;
    cursor: pointer;
    animation-name: SubjectModuleList_Subfolder_List_Item_Opening;
    animation-duration: 0.5s;
    /* animation-timing-function: ease-in; */
}

@keyframes SubjectModuleList_Subfolder_List_Item_Opening{
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.SubjectModuleList_Subfolder_List_Item:hover{
    background-color: #adadad;
}

.SubjectModuleList_Subfolder_List_Item_Text{
    margin: 0;
}

.SubjectModuleList_Subfolder_List_Item_Text:nth-child(2){
    text-align: right;
}

@media only screen and (max-width: 700px) {
    .SubjectModuleList_Header_SubjectTitle_Thumbnail{
        display: none;
    }

    .SubjectModuleList_Header_SubjectTitle{
        grid-template-columns: auto auto;
    }
    .SubjectModuleList_Header_SubjectTitle_Title{
        grid-area: 2 / 1 / 3 / 3;
    }
    
    .SubjectModuleList_Header, .SubjectModuleList_Header_Background{
        height: 200px;
    }
}