.card-img-top {

    width: 100%;
    /* makes the image responsive */
    height: auto;
    /* maintains the aspect ratio */
    aspect-ratio: 16 / 9;
    /* adjust this value to your preferred aspect ratio */
    object-fit: cover;
    /* ensures the image covers the area without stretching */
    border-radius: 1%;
    margin-bottom: .2rem;
}

.card-title {
    margin-bottom: 0.3rem;
}

.card-button {
    color: white;
    background-color: transparent;
    border-color: #17a2b8;
    margin: 2px 0;
    /* Add space between buttons */
}

.card-button:hover {
    color: #0056b3;
    background-color: #e2e6ea;
    border-color: #0056b3;
}

.navbar {
    margin-bottom: 30px;
}

.card {
border-radius: 3%;
padding: 1rem;
margin-bottom: 1rem; /* Add some space below each card */
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

.card:hover {
transform: scale(1.05); /* Adjust scale to desired effect */
transition: transform 0.3s ease-in-out; /* Smooth transition for the hover effect */
}

.container-fluid {
    padding-right: 0;
    /* Reset padding for full width */
    padding-left: 0;
    /* Reset padding for full width */
}

.row {
    margin-right: 0;
    /* Reset margin for full width */
    margin-left: 0;
    /* Reset margin for full width */
}

.card-body-a {
    background-color: #37474F;
    color: white;
    border-radius: 1%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card-body-b {
    background-color: #014887;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.bg-primary {
background-color: #014887!important;
}

.SignIn{
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
}

.SignIn-Dialog{
    --bs-modal-width: 100%;
    width: 100%;
    height: 100%;
    /* height: 100%; */
    width: 100%;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;

}

.SignIn-Dialog-Content{
    /* width: calc(100% - 40px); */
    /* height: calc(100% - 40px); */
    margin: 0;
}

.SignIn-Dialog-Content-Body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 25px;
    grid-gap: 20px;
}

.SignIn-Dialog-Content-Body-Banner{
    grid-area: 1/1/3/2;
    background-color: #6610f2;
    color: white;
    border-radius: 7px;
    padding: 20px;
}

.SignIn-Dialog-Content-Body-Banner-Title{
    margin: 0;
    font-size: 4em;
    opacity: 0;
    animation-name: Banner_Title_Animate_Up;
    animation-delay: 1s;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.SignIn-Dialog-Content-Body-Banner-Title:nth-child(1){
    animation-delay: 1.1s;
}

.SignIn-Dialog-Content-Body-Banner-Title:nth-child(2){
    animation-delay: 1.2s;
}

.SignIn-Dialog-Content-Body-Banner-Title:nth-child(3){
    animation-delay: 1.3s;
}

@keyframes Banner_Title_Animate_Up{
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.SignIn-Dialog-Content-Body-Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    animation-name: Form_Title_Animate_Up;
    animation-delay: 1s;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes Form_Title_Animate_Up{
    from {
        transform: translateY(75px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.SignIn-Dialog-Content-Body-Form > form{
    height: auto;
}

.SignIn-Dialog-Content-Body-Form-Password{
    max-width: 250px;
    margin-bottom: 10px;
}

.SignIn-Dialog-Content-Body-Form > button{
    width: auto;
    max-width: 250px;
    margin-top: 10px;
}

.SignIn-Dialog-Content-Body-Form > .invalid-feedback{
    margin-bottom: 10px;
}

.SignIn-Dialog-Content-Body-Copyright{
    grid-area: 2/2/3/3;
}

.SignIn-Dialog-Content-Body-Copyright-Text{
    margin: 0;
    text-align: center;
}

@media only screen and (max-width: 960px){
    .SignIn-Dialog-Content-Body{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 25px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }
    .SignIn-Dialog-Content-Body-Copyright{
        grid-area: unset;
    }
    .SignIn-Dialog-Content-Body-Banner-Title{
        font-size: unset;
    }
}