@import url("style_reference.css");

body {
  font-size: 1rem;
  /* Default font size for PC */
}

body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

img {
  height: 15rem;
}

p {
  padding: 0;
  visibility: hidden;
}

label {
  margin-bottom: 1.5rem;
}

.title {
  font-size: 2rem;
}

.container {
  max-width: 90%;
  /* Adjust the maximum width of the container */
  margin: 0 auto;
  /* Center the container */
}

.form-group label,
.form-check-label {
  font-size: 1.5rem;
  /* Adjust the font size for question labels */
}

.form-check-input {
  display: none;
  /* Hide the default radio button */
}

.form-check {
  margin-bottom: 10px;
  /* Adjust the space between options */
  padding-left: 0;
}

.form-check label {
  cursor: pointer;
  padding: 10px;
  /* border: 2px solid #ddd; */
  /* Add outline to each option */
  display: block;
  transition: background-color 0.3s, color 0.3s;
  /* Smooth transition effect */
}

.form-check input:checked+label {
  background-color: lightgrey;
  /* Change background color when checked */
  color: black;
  /* Change text color when checked */
  border-color: #007bff;
  /* Change outline color when checked */
}

.btn-group {
  margin-top: 2rem;
  /* Add margin to the top of the button group */

}

.btn-primary {
  background-color: #014887;
  font-size: 2rem;
  /* Adjust the font size for the Submit button */
  box-shadow: 0 8px 8px -4px black;
}


.btn-primary:hover {
  font-size: 2rem;
  color: white;
  background-color: black;
  opacity: 70%;
  /* Adjust the font size for the Submit button */
  /* box-shadow: 0 8px 8px -4px black; */
}

.btn-next {
  display: none;
  /* Initially hide the Next button */
  background-color: darkgreen!important;
  box-shadow: 0 8px 8px -4px black;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn-shuffle {
  margin-left: auto;
  /* Pushes the button to the right */
}

.btn-next:hover {
  font-size: 2rem;
  color: white;
  background-color: black!important;
  opacity: 60%;
  /* Adjust the font size for the Submit button */
  box-shadow: 0 8px 8px -4px black;
}

#result {
  font-size: 2rem;
  /* Adjust the font size for the result message */
}

.btn-shuffle {
  float: right;
}

.navbar {
  background-color: #007bff;
}

.navbar a {
  color: white;
}

#final-result {
  font-size: 24px;
  text-align: center;
  padding: 1rem;
  /* border: 2px solid #007bff; */
  border-radius: 10px;
  /* background-color: #f8f9fa; */
  margin-top: 40px;
}

#final-result-message {
  font-size: 12px;
  text-align: center;
  margin: auto;
  font: 700 normal 1.5rem 'tahoma';
  padding-bottom: 15px;
}

#sidebar {
  font-size: 2.2rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  background-color: #f8f9fa;
  padding: 60px;
  display: none;
}

#sidebar::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

#sidebar a {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

#sidebar a:hover {
  color: #007bff;
  background-color: whitesmoke;
}

.btn-shuffle {
  color: white;
  background-color: grey;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-shuffle:hover {
  color: grey;
  background-color: yellow;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Custom styles for the toggle button */
.toggle-btn {
  width: 4.5rem;
  height: 4.5rem;
  bottom: 65%;
  right: 10%;
  position: fixed;
  z-index: 9;
  font-size: 2rem;
  cursor: move;
  border-radius: 50%;
  background-color: black;
  opacity: 0.6;
  color: whitesmoke;
  padding: 10px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.toggle-btn:hover {
  opacity: 100%;
  background-color: #0056b3;
}


.bg-primary {
  background-color: #014887!important;
}

/***** Slide Right *****/
.slide-right {
  animation: .5s slide-right;
}
@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}


/***** Slide Left *****/
.slide-left {
  animation: .5s slide-left;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

@media screen and (max-width: 992px) {

  body {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {

  body {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 600px) {

  /* Extra small devices (portrait phones, less than 576px) */
  body {
    font-size: 0.75rem;
    /* Even smaller font size for extra small devices */
  }

  .form-group label,
  .form-check-label {
    font-size: 17px;
    margin: 0px 0px 5px;
  }

  .title {
    font-size: 20px;
  }


  #question-number {
    font-weight: 400;
    font-size: 16px;
    margin: 10px 5px;
  }

  .mb-4 {
    margin-bottom: 0!important;
    margin-top: 10px!important;
  }

  .navbar-toggler{
    display: none;
  }

  .btn-group {
    font-size: 20px;
    margin-top: 0px;
    vertical-align: text-top;
  }

  .toggle-btn {
    width: 55px;
    height: 55px;
    font-size: 22px;
    padding: 10px;
    text-align: center;  
    margin: auto;
    background-color: black;
    opacity: 30%;
  }

  #final-result-message {
    font-size: 20px;
    padding-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }

  #sidebar {
    padding: 20px;
  }

  #question-list{
    font-size: 1rem;
  }

  h3 {
    font-size: 15px;
    color: grey;
  }

  #result {
    font-size: 17px;
}

img {
  margin: 2px;
}

}

.Quiz {
  margin-top: 0;
  margin-left: var(--SAP-Margin-Left);
  margin-right: var(--SAP-Margin-Right);
  max-width: unset;
  width: auto;
}

.Quiz_Header {
  background-color: var(--SAP-Purple-Level-4L);
  padding: 20px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-family: var(--Text-Font-Primary);
  margin-bottom: 30px;
}

.Quiz_Header_Title{
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.6em;
  font-weight: bold;
}

.Quiz_Header_QuestionNumber{
  color: black;
  font-size: 1.2em;
  margin: 0;
  margin-bottom: 10px;
}

.Quiz_Header_Progress{
  background-color: unset;
  border-radius: 15px;
}

.Quiz_Header_Progress > .progress-bar{
  background-color: var(--SAP-Purple-Level-1D);
  border-radius: 15px;
}

.Quiz_Form{
  padding: 20px;
  border-radius: 15px;
  /* background-color: var(--SAP-Purple-Level-4L); */
  border: solid var(--SAP-Purple-Level-4L) 1px;
  font-family: var(--Text-Font-Primary);
}

.Quiz_Form[Mode="Answer_Correct"]{
  border: solid var(--SAP-Green-Base) 1px;
}

.Quiz_Form[Mode="Answer_Wrong"]{
  border: solid var(--SAP-Red-Base) 1px;
}


.Quiz_Form > #quiz-form > .form-group > p {
  display: none
}

.Quiz_Form > #quiz-form > .form-group > label {
  /* font-weight: bold; */
  font-size: 1.3rem;
  border-bottom: solid var(--SAP-Purple-Level-4L) 1px;
  width: 100%;
  margin: 0;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.Quiz_Form > #quiz-form > .form-group > .form-check {
  border: unset;
}

.Quiz_Form > #quiz-form > .form-group > .form-check > label{
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.3em;
}

.Quiz_Form_Controls{
  margin-top: unset !important;
}

.Quiz_Form_Controls > button{
  /* padding: 15px; */
  margin-top: unset;
  padding: 10px;
}

.form-check {
  margin-bottom: 0;
  /* Adjust the space between options */
  padding-left: 0;
}

.form-check label {
  cursor: pointer;
  padding: 10px;
  display: block;
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s;
}

.form-check label:hover{
  background-color: var(--SAP-Purple-Level-3L);
}

.form-check input:checked+label {
  background-color: var(--SAP-Purple-Level-4L);
  outline: solid var(--SAP-Purple-Base) 1px;
  /* Change background color when checked */
  color: black;
  /* Change text color when checked */
  border-color: #007bff;
  /* Change outline color when checked */
}

.btn-primary, .btn-next{
  background-color: var(--SAP-Purple-Base) !important;
  border-radius: 15px !important;
  box-shadow: unset;
  font-size: 1.3rem;
  outline: unset;
  border: unset;
}

.btn-primary:hover, .btn-next:hover{
  font-size: 1.3rem;
  background-color: var(--SAP-Purple-Level-2D) !important;
  opacity: 100%;
  box-shadow: unset;
}

.toggle-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--SAP-Purple-Level-4L);
  opacity: 100%;
  border-radius: 10px;
  color: black;
}

.toggle-btn:hover{
  background-color: var(--SAP-Purple-Level-3L);
}

.Header{
  position: fixed;
  top: 0;
}

body{
  padding-top: 50px;
}

.Quiz_Answer{
  /* background-color: var(--SAP-Purple-Level-3L);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 15px; */
  font-family: var(--Text-Font-Primary);
  /* position: fixed;
  bottom: 0;
  height: 300px;
  width: 90%; */
  
}

.Quiz_Checker{
  position: fixed;
  width: 100%;
  height: 100%;
  /* background-color: var(--SAP-BG-Opacitated); */
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  user-select: none;
  overflow: none;
  pointer-events: none;
}

.Quiz_Checker_Correct{
  display: none;
}

.Quiz_Checker_Correct[State="Active"]{
  display: block;
}

.Quiz_Checker_Correct_Text{
  font-family: StylishCurves;
  font-weight: 700;
  font-size: 10vw;
  color: var(--SAP-Green-Base);
  letter-spacing: 1px;
  animation-name: Quiz_Checker_Text_Pop;
  animation-duration: 0.75s;
  /* animation-iteration-count: infinite; */
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes Quiz_Checker_Text_Pop{
  0%{
    letter-spacing: 1px;
    transform: scale(0.7);
    opacity: 100%;
  }
  100%{
    letter-spacing: 70px;
    transform: scale(1);
    opacity: 0%;
  }
}

.Quiz_Checker_Wrong{
  display: none;
}

.Quiz_Checker_Wrong[State="Active"]{
  display: block;
}

.Quiz_Checker_Wrong_Text{
  font-family: StylishCurves;
  font-weight: 700;
  font-size: 10vw;
  color: var(--SAP-Red-Base);
  letter-spacing: 1px;
  animation-name: Quiz_Checker_Text_Pop;
  animation-duration: 0.75s;
  /* animation-iteration-count: infinite; */
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.Quiz_Sidebar{
  background-color: white;
  border: solid var(--SAP-Header-Border-Color) 1px;
}

.Quiz_Sidebar_Title{
  font-family: var(--Text-Font-Primary);
}

.Quiz_Sidebar_List{
  font-family: var(--Text-Font-Secondary);
  font-size: 0.5em;
}

.Quiz_Result, .Quiz_Starter{
  position: fixed;
  top: 50px;
  background-color: white;
  width: 100%;
  height: calc(100% - 50px);
  /* margin-top: 50px; */
  overflow-y: auto;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  padding-left: var(--SAP-Margin-Left);
  padding-right: var(--SAP-Margin-Right);
  display: grid;
  grid-template-rows: 1fr auto;
  z-index: 70;
  overflow: hidden;
}

.Quiz_Result[State="Inactive"]{
  display: none;
}

.Quiz_Result[State="Active"]{
  display: grid;
}

.Quiz_Result_Content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Quiz_Result_Title{
  font-family: var(--Text-Font-Primary);
  font-weight: bolder;
}

.Quiz_Result_Paragraph{
  font-family: var(--Text-Font-Secondary);
}

.Quiz_Result_Score{
  display: flex;
  flex-direction: row;
}

.Quiz_Result_Score > h2{
  font-family: var(--Text-Font-Primary);
}

.Quiz_Result_Action{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  font-family: var(--Text-Font-Primary);
  color: white;
}

.Quiz_Result_Action > button{
  margin: 0;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  height: auto;
  width: 400px;
}

.Quiz_Result_Action_Primary{
  background-color: var(--SAP-Purple-Base);
  border: solid var(--SAP-Purple-Base) 1px;
  border-radius: 15px;
  box-shadow: unset;
  color: white;
}

.Quiz_Result_Action_Secondary{
  text-decoration: none;
  color: white;
  background-color: unset;
  border: solid var(--SAP-Purple-Base) 1px;
  border-radius: 15px;
  box-shadow: unset;
}

.Quiz_Result_Action_Secondary > a {
  text-decoration: none;
  color: black;
}

.Quiz_Starter{
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  padding-left: var(--SAP-Margin-Left);
  padding-right: var(--SAP-Margin-Right);
  width: auto;
  width: 100%;
}

.Quiz_Starter[State="Inactive"]{
  display: none;
}

.Quiz_Starter[State="Active"]{
  display: grid;
}


.Quiz_Starter_Loader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 100%;
}

.Quiz_Starter_Loader[State="Inactive"]{
  opacity: 0%;
}

.Quiz_Starter_Loader_Text{
  font-family: var(--Text-Font-Primary);
}

.Quiz_Starter_Content{
  width: 500px;
  height: calc(100% - 20px);
  /* background-color: red; */
  align-self: center;
  justify-self: center;
  padding: 20px;
  margin: 10px;
  border: solid var(--SAP-Purple-Level-3L) 1px;
  border-radius: 25px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  opacity: 0%;
  transform: translateY(20px);
}

@media only screen and (max-width: 500px){
  .Quiz_Result_Content > img#Quiz_Result_FinisherImage{
    width: 250px;
    height: unset;
  }
  .Quiz_Result_Action > button{
    width: 100%;
  }
}

@media only screen and (max-width: 700px){
  .Quiz_Starter_Content{
    width: 100%;
  }
  
}

.Quiz_Starter_Content[State="Active"]{
  opacity: 100%;
  transform: translateY(0px);
}

.Quiz_Starter_Title{
  font-family: var(--Text-Font-Primary);
  font-size: 40px;
  font-weight: bolder;
}

.Quiz_Starter_Subject{
  font-family: var(--Text-Font-Secondary);
  font-size: 20px;
}

.Quiz_Starter_Control{
  width: 100%;
  height: 50px;
  font-family: var(--Text-Font-Primary);
}

.Quiz_Starter_Control_Primary{
  background-color: var(--SAP-Purple-Base);
  border: solid var(--SAP-Purple-Base) 1px;
  border-radius: 15px;
  box-shadow: unset;
  color: white;
  width: 100%;
  height: 50px;
}
