*{
    transition: var(--Element-Transition-Delay);
}

*[Tabbable = "true"]:focus{
    outline: solid var(--SAP-Purple-Base);
    transition: outline 0s;
}

.Header{
    font-family: var(--Text-Font-Secondary);
    background-color: var(--SAP-Header-BG-Color);
    border-bottom: solid var(--SAP-Header-Border-Color) 1px;
    margin-bottom: 0;
    z-index: 100;
    padding-left: 10px;
    padding-right: 10px;
}
.Header > a{
    color: black;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
}
.Header > a:hover{
    color: white;
    background-color: var(--SAP-Purple-Level-2L);
}

.Button_Control {
    font-family: var(--Text-Font-Secondary);
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
    background-color: white;
    border: solid var(--SAP-Gray-Base) 1px;
}

.Button_Control:hover{
    color: white;
    background-color: var(--SAP-Purple-Level-1L);
    border-color: var(--SAP-Purple-Level-1D);
}

.Button_Control:active{
    background-color: var(--SAP-Purple-Level-1D);
    border-color: var(--SAP-Purple-Level-2D);
}