body {
  font-size: 1rem;
  /* Default font size for PC */

}

img {
  height: 15rem;
}

p {
  padding: 0;
  visibility: hidden;
}

#question-number {
  color: black;
  font-weight: 400;
  opacity: 50%;
}

label {
  margin-bottom: 1.5rem;
}

.title {
  font-size: 2rem;
}

.container {
  max-width: 90%;
  /* Adjust the maximum width of the container */
  margin: 0 auto;
  /* Center the container */
}

.form-group label,
.form-check-label {
  font-size: 1.5rem;
  /* Adjust the font size for question labels */
}

.form-check-input {
  display: none;
  /* Hide the default radio button */
}

.form-check {
  margin-bottom: 10px;
  /* Adjust the space between options */
  padding-left: 0;
}

.form-check label {
  cursor: pointer;
  padding: 10px;
  border: 2px solid #ddd;
  /* Add outline to each option */
  display: block;
  transition: background-color 0.3s, color 0.3s;
  /* Smooth transition effect */

}

.form-check input:checked+label {
  background-color: lightgrey;
  /* Change background color when checked */
  color: black;
  /* Change text color when checked */
  border-color: #007bff;
  /* Change outline color when checked */
}

.btn-group {
  margin-top: 2rem;
  /* Add margin to the top of the button group */

}

.btn-primary {
  font-size: 2rem;
  /* Adjust the font size for the Submit button */
  box-shadow: 0 8px 8px -4px black;
}


.btn-primary:hover {
  font-size: 2rem;
  color: white;
  background-color: grey;
  /* Adjust the font size for the Submit button */
  box-shadow: 0 8px 8px -4px black;
}

.btn-next {
  display: none;
  /* Initially hide the Next button */
  background-color: darkgreen;
  box-shadow: 0 8px 8px -4px black;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn-shuffle {
  margin-left: auto;
  /* Pushes the button to the right */
}

.btn-next:hover {
  font-size: 2rem;
  color: white;
  background-color: #45474B;
  /* Adjust the font size for the Submit button */
  box-shadow: 0 8px 8px -4px black;
}

#result {
  font-size: 2rem;
  /* Adjust the font size for the result message */
}

.btn-shuffle {
  float: right;
}

.navbar {
  background-color: #007bff;
}

.navbar a {
  color: white;
}

#final-result {
  font-size: 24px;
  text-align: center;
  padding: 1rem;
  /* border: 2px solid #007bff; */
  border-radius: 10px;
  /* background-color: #f8f9fa; */
  margin-top: 40px;
}

#final-result-message {
  font-size: 12px;
  text-align: center;
  margin: auto;
  font: 700 normal 1.5rem 'tahoma';
}



#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  background-color: #f8f9fa;
  padding: 20px;
  display: none;
  /* Change 'block' to 'none' to hide the sidebar initially */
}

#sidebar a {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  /* font-size: 1.5rem; */
}

.btn-shuffle {
  color: white;
  background-color: grey;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-shuffle:hover {
  color: grey;
  background-color: yellow;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Custom styles for the toggle button */
#toggle-btn {
  width: 4.5rem;
  height: 4.5rem;
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: #0056b3;
  color: whitesmoke;
  padding: 10px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#toggle-btn:hover {
  background-color: orange;
}

@media screen and (max-width: 992px) {

  body {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {

  body {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 600px) {

  /* Extra small devices (portrait phones, less than 576px) */
  body {
    font-size: 0.75rem;
    /* Even smaller font size for extra small devices */
  }

  .form-group label,
  .form-check-label {
    font-size: 2rem;
  }

  .title {
    font-size: 2.5rem;
  }

  #question-number {
    color: black;
    font-weight: 400;
    opacity: 50%;
    font-size: 2rem;
  }
}