.Home_Page{
    padding: 20px;
    /* background-color: #3f54f3; */
    /* overflow: auto; */
    /* width: calc(100% - 250px); */
    width: -webkit-fill-available;
}

.Home_Page_Title{
    font-family: var(--Text-Font-Primary);
    margin: 0;
    font-size: 50px;
    background: -webkit-linear-gradient(45deg, rgba(102,16,242,1) 0%, rgba(63,84,243,1) 28%, rgba(223,78,165,1) 52%, rgba(63,84,243,1) 71%, rgba(102,16,242,1) 100%, rgba(245,126,66,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 50px;
    margin-bottom: 15px;
}

.Home_Welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: all;
}

.Home_Welcome[State = "Invisible"]{
    opacity: 0%;
    pointer-events: none;
}

.Home_Welcome_Background{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    left: 0;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    display: grid;
    grid-template-columns: repeat(15, 250px);
    grid-template-rows: repeat(25, 250px);
    position: absolute;
}

.Home_Welcome_Background > div{
    animation-name: Home_Welcome_Background_Items;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.Home_Welcome_Background > div:nth-child(even){
    background: linear-gradient(0deg, rgba(102,16,242,1) 0%, rgba(63,84,243,1) 30%, rgba(223,78,165,1) 61%, rgba(245,126,66,1) 100%);
}

.Home_Welcome_Background > div:nth-child(odd){
    background: linear-gradient(180deg, rgba(102,16,242,1) 0%, rgba(63,84,243,1) 30%, rgba(223,78,165,1) 61%, rgba(245,126,66,1) 100%);
}

@keyframes Home_Welcome_Background_Items{
    0%{
        transform: translateX(0%) translateY(0%);
    }
    100%{
        transform: translateX(-100%) translateY(-100%);
    }
}

.Home_Welcome_Content{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0px;
    background-color: white;
    border-radius: 15px;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 0fr;
    overflow: hidden;
}

@keyframes Home_Welcome_Sequence_1{
    0% {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        margin: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    30% {
        grid-template-columns: 1fr 0fr;
    }
    100% {
        width: calc(100% - 60px);
        height: calc(100% - 120px);
        max-width: 1100px;
        max-height: 700px;
        margin: 30px;
        grid-template-columns: 1fr 1fr;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.Home_Welcome_Title{
    background-color: var(--SAP-Purple-Base);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    opacity: 0%;
    background: linear-gradient(144deg, rgba(255,255,255,1) 13%, rgba(245,126,66,1) 27%, rgba(223,78,165,1) 38%, rgba(63,84,243,1) 48%, rgba(102,16,242,1) 65%);
    background-size: 500% 100%;
    animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

@keyframes Home_Welcome_Sequence_2{
    0% {
        background-position: 0% 100%;
        opacity: 0%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    10%{
        opacity: 100%;
    }
    100% {
        background-position: 100% 100%;
        opacity: 100%;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

.Home_Welcome_Title_Text{
    font-family: var(--Text-Font-Primary);
    color: white;
    margin: 0;
    margin-left: 30px;
    font-size: 70px;
    opacity: 0%;
}

.Home_Welcome_Title_Text:nth-child(1){
    animation-delay: 1.2s
}

.Home_Welcome_Title_Text:nth-child(2){
    animation-delay: 1.3s
}

.Home_Welcome_Title_Text:nth-child(3){
    animation-delay: 1.4s
}

@keyframes Home_Welcome_Sequence_3{
    0% {
        color: #f57e42;
        opacity: 0%;
        transform: translateY(40px);
    }
    25% {
        color: #ff9a67;
        opacity: 1;
    }
    50% {
        color: #df4ea5;
    }
    75% {
        color: #3f54f3;
    }
    100% {
        color: white;
        opacity: 100%;
        transform: translateY(0px);
    }
}

.Home_Welcome_Main{
    padding: 20px;
    padding-top: 30px;
    overflow-x: hidden;
    opacity: 0%;
}

.Home_Welcome_Main[State = "Visible"]{
    opacity: 100%;
}

.Home_Welcome_Main_Title{
    font-family: var(--Text-Font-Primary);
    margin-bottom: 10px;
    font-size: 45px;
}

.Home_Welcome_Main_Description{
    font-family: var(--Text-Font-Secondary);
    margin: 0px;
    margin-bottom: 10px;
    font-size: 23px;
}

.Home_Welcome_Loading{
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    z-index: 55;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Home_Welcome_Loading[State = "Inactive"]{
    opacity: 0%;
    pointer-events: none;
}

.Home_Welcome_Loading_Image{
    width: 250px;
    margin-bottom: 20px;
}

.Home_Welcome_Loading_Text{
    font-family: var(--Text-Font-Secondary);
}

.Quizzes_Top_Title{
    display: grid; 
    grid-template-columns: 1fr auto; 
    grid-gap: 10px;
}

.Quizzes{
    position: relative;
}

.Quizzes[State = "Header_Inactive"]{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-rows: 0px 1fr;
}

.Quizzes[State = "Header_Active"]{
    display: grid;
    grid-template-rows: 65px 1fr;
}

.Quizzes_Title{
    padding: 10px;
    border: solid var(--SAP-Gray-Base) 1px;
    border-radius: 35px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
    align-items: center;
    /* margin-right: 40px; */
    opacity: 0%;
    /* display: none; */
    visibility: hidden;
    overflow-y: hidden;
    position: sticky;
    top: 15px;
    z-index: 15;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: var(--Element-BackdropBlur);
}

.Quizzes_Title > button{
    background-color: white;
}

.Quizzes[State = "Header_Active"] > .Quizzes_Title{
    opacity: 100%;
    visibility: visible;
    /* display: grid; */
}

.Quizzes_Title_Content{
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.Quizzes_Title_Text{
    font-family: var(--Text-Font-Primary);
    margin: 0;
}

.Quizzes_Title_Content[Stage = "Subject"] > .Quizzes_Subject{
    transform: translateY(15px);
    font-size: 100%;
}

.Quizzes_Title_Content[Stage = "Subject"] > .Quizzes_Folder{
    opacity: 0%;
    transform: translateY(15px);
}

.Quizzes_Title_Content[Stage = "Folder"] > .Quizzes_Subject{
    color: var(--SAP-Gray-Base);
    font-size: 15px;
    transform: translateY(3px);
}

.Quizzes_Title_Content[Stage = "Folder"] > .Quizzes_Folder{
    opacity: 100%;
    transform: translateY(-2px);
}

#tab_Schedules_Class{
    padding-left: 0;
    /* width: calc(100% - 35px); */
}

.Schedules{
    /* position: relative; */
}

.Schedules_Content{
    width: calc(100% - 60px);
}

.Schedules_Title{
    padding: 10px;
    border: solid var(--SAP-Gray-Base) 1px;
    border-radius: 35px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    align-items: center;
    /* margin-right: 40px; */
    /* display: none; */
    overflow-y: hidden;
    position: sticky;
    top: 15px;
    z-index: 15;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: var(--Element-BackdropBlur);
}

.Schedules_Title_Button_Indicator{
    position: absolute;
    z-index: -1;
    bottom: 3px;
    border-radius: 25px;
    height: 5px;
    width: 0%;
    background-color: var(--SAP-Purple-Level-1L);
}

.Schedules_Title_Button[State = "Selected"] > .Schedules_Title_Button_Indicator{
    position: absolute;
    z-index: -1;
    bottom: 3px;
    border-radius: 25px;
    height: 5px;
    width: 17%;
    background-color: var(--SAP-Purple-Level-1L);
}

.Schedules_List_Title{
    font-family: var(--Text-Font-Primary);
    margin: 0;
    font-size: 40px;
    margin-top: 20px;
}

.Schedules_List_Title:first-child{
    margin-top: 0;
}

.Schedules_List{
    /* background-color: #3f54f3; */
    /* width: 100%; */
    /* margin-right: 60px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 30px;
}

.Schedules_List_Section{
    /* background-color: red; */
    width: -webkit-fill-available;
    border: solid var(--SAP-Gray-Level-2D) 1px;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 0;
    height: 100%;
}

.Schedules_List_Section_Title{
    font-family: var(--Text-Font-Secondary);
    margin: 0;
    margin-bottom: 10px;
}

.Schedules_List_Item{
    display: grid;
    grid-template-areas: 
        "Name Name Name"
        "Time Room Empty"
    ;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 175px 125px 1fr;
    align-items: end;
    grid-gap: 10px;
    border: solid var(--SAP-Gray-Base) 1px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.Schedules_List_Section > span:last-child > .Schedules_List_Item{
    margin-bottom: 0px;
}

.Schedules_List_Item > *{
    margin: 0;
    padding: 5px;
}

.Schedules_List_Item_Title{
    font-family: var(--Text-Font-Tertiary);
    word-wrap: break-word;
    grid-area: Name;
}

.Schedules_List_Item_Time{
    font-family: var(--Text-Font-Tertiary);
    grid-area: Time;
    background-color: var(--SAP-Gray-Level-2L);
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.Schedules_List_Item_Room{
    font-family: var(--Text-Font-Tertiary);
    grid-area: Room;
    width: auto;
    background-color: var(--SAP-Gray-Level-2L);
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.Others_Page{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    padding-right: 20px;
    height: auto;
}

.Others_Tab_Title{
    padding: 10px;
    border: solid var(--SAP-Gray-Base) 1px;
    border-radius: 35px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    align-items: center;
    /* margin-right: 40px; */
    /* display: none; */
    width: -webkit-fill-available;
    overflow-y: hidden;
    position: sticky;
    top: 15px;
    z-index: 15;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: var(--Element-BackdropBlur);
    margin-bottom: 10px;
}

.Others_Tab_Title_Text{
    font-family: var(--Text-Font-Primary);
    font-size: 1.4em;
    margin: 0;
}

.Subwindows{
}

.Subwindow{
    border-radius: 10px;
    background-color: var(--SAP-Main-BG-Color);
}