*{
    scroll-behavior: smooth;
}

.QO_Title{
    background-color: var(--SAP-Purple-Level-4L);
    padding: 20px;
    border-radius: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: var(--Text-Font-Primary);
    font-weight: bolder;
    /* margin: 0px; */
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: var(--SAP-Margin-Left);
    margin-right: var(--SAP-Margin-Right);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 10px;
}

.QO_List{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 10px;
}

.QO_List[State_ShowAnswers = "Active"] *[State = "Inactive"]{
    display: none;
}

.QO_List[State_ShowAnswers = "Active"] *[State = "Active"]{
    /* background-color: unset !important; */
}

.QO_List[State_ShowAnswers = "Inactive"] *[State = "Inactive"]{
    display: block;
}

.QO_List[State_GridView = "Active"]{
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.QO_List[State_GridView = "Inactive"]{
    grid-template-columns: 1fr;
}

.QO_List[State_HighlightAnswers = "Active"] *[State = "Active"]{
    /* background-color: unset !important; */
}

.QO_List[State_HighlightAnswers = "Inactive"] *[State = "Active"]{
    background-color: unset !important;
    border-color: transparent !important;
    outline: unset !important;
}

.QO_List_Title, .QO_List_Info, .QO_List, .QO_List_Toolbar{
    margin-left: var(--SAP-Margin-Left);
    margin-right: var(--SAP-Margin-Right);
    
}

.QO_List_Item{
    padding: 20px;
    border-radius: 15px;
    /* background-color: var(--SAP-Purple-Level-4L); */
    border: solid var(--SAP-Purple-Level-4L) 1px;
    display: grid;
    grid-template-areas: 
        "Number Question"
        "Choices Choices"
    ;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
}

.QO_List_Item_Number{
    grid-area: Number;
}

.QO_List_Item_Question{
    grid-area: Question;
    text-align: left;
    margin-bottom: 10px;
}

.QO_List_Item_Choices{
    grid-area: Choices;
}

.QO_List_Item_Number_Text, .QO_List_Item_Question_Text{
    margin: 0;
    font-family: var(--Text-Font-Primary);
    color: var(--Text-Color);
}

.QO_List_Item_Choices_Item > .Radio_Button_Indicator{
    opacity: 0%;
}

.QO_List_Item_Choices_Item:hover{
    background-color: var(--SAP-Purple-Level-4L);
}

.QO_List_Item_Choices_Item:hover > .Radio_Button_Indicator{
    box-shadow: unset;
}

.QO_List_Item_Choices_Item[State="Active"]{
    background-color: var(--SAP-Green-Level-3L);
}

.QO_List_Item_Choices_Item[State="Active"] > .Radio_Button_Indicator{
    background-color: var(--SAP-Green-Base);
    border-color: var(--SAP-Green-Level-2D);
    opacity: 100%;
}

.Subwindow{
    width: 80%;
    height: 80%;
    background-color: var(--SAP-Main-BG-Color);
}

.Subwindow_TitleBar{
    border-bottom: solid var(--SAP-Gray-Base) 1px;
    grid-template-columns: auto 1fr 30px 30px;
    padding-bottom: 5px;
    column-gap: 5px;
}

.Subwindow_TitleBar_Close{
    filter: brightness(0);
}

.Subwindow_TitleBar_Close:hover{
    filter: brightness(1);
}

.Subwindow_Content{
    padding: 10px;
}

.QO_List_Title{
    font-family: var(--Text-Font-Primary);
    font-weight: bolder;
    margin-bottom: 0;
}

.QO_List_Info{
    font-family: var(--Text-Font-Tertiary);
    font-weight: bolder;
    margin-top: 0;
}

.QO_List_Toolbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.QO_List_Toolbar > *{
    margin-right: 10px;
}