@media only screen and (max-width: 750px){
    .Subwindow{
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        padding: 20px;
    }
    .Modal{
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        padding: 20px;
    }
    .Header_PageNavigation_Title{
        display: none;
    }
    .Header_PageNavigation_Icon{
        margin-right: 0;
    }
    :root{
        --Element-ContentContainer-MarginnedWidth: calc(100% - 40px);
    }   
    .Ribbon{
        /* height: 50px; */
        /* width: fit-content; */
    }
    .Ribbon_Section{
        height: 35px;

    }
}

@media only screen and (max-width: 700px){
    .Header_StatusTray{
        display: none;
    }
    .Header_PageNavigation_Menu{
        left: 0px;
        width: 100%;
        bottom: 0px;
        
        /* margin-bottom: 20px; */
    }
    .Header_PageNavigation_Menu[State="Active"]{
        display: flex;
        flex-direction: column;
    }
    .Header_StatusTray_Menu{
        transform: translateX(-100%);
        /* animation-name: unset;
        animation-fill-mode: unset; */
        bottom: 0;
        width: calc(100% - 10px);
        /* padding-left: 20px; */
    }
    .Header_StatusTray_Menu[State="Active"]{
        display: flex;
        flex-direction: column;
    }
    .Header_StatusTray_Menu_Close{
        display: block;
    }
    .LoadingScreen_Splash_Window{
        grid-template-rows: 250px 5px;
        box-shadow: unset;
        justify-items: center;
    }
    .LoadingScreen_Splash_Window_Image{
        display: none;
    }
    .LoadingScreen_Splash_Window_Main{
        background-color: unset;
    }
    .LoadingScreen_Splash_Window_Loader{
        width: 60%;
        background-color: unset;
    }
}

@media only screen and (max-width: 650px){
    .Toasts{
        height: 150px;
	    overflow-y: hidden;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 75px;
    }
    .Header_Content_Title{
        font-size: 15px;
    }
}

@media only screen and (max-height: 400px){
    .LoadingScreen_Splash_Window{
        grid-template-rows: 250px 5px;
        box-shadow: unset;
        justify-items: center;
    }
    .LoadingScreen_Splash_Window_Image{
        display: none;
    }
    .LoadingScreen_Splash_Window_Main{
        background-color: unset;
    }
    .LoadingScreen_Splash_Window_Loader{
        width: 60%;
        background-color: unset;
    }
}

@media only screen and (max-width: 700px){
    .MenuBar{
        width: 100%;
        bottom: 0;
        height: 50px;
        flex-direction: row;
        padding-left: 0;
        padding-right: 0;
        grid-area: MenuBar;
    }

    .MenuBar_Title{
        display: none;
    }

    .MenuBar_List{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: -webkit-fill-available;
        transform: translateY(7px);
    }

    .MenuBar_List_Item{
        grid-template-columns: unset;
        grid-template-rows: 30px auto 1fr;
        grid-gap: 5px;
        width: 75px;
        justify-items: center;
        padding-left: unset;
    }

    .MenuBar_List_Item:hover{
        background-color: unset;
    }

    .MenuBar_List_Item:focus{
        outline: unset;
    }

    .MenuBar_List_Item[State="Selected"]{
        background-color: unset;
    }

    .MenuBar_List_Item[State="Selected"] > .MenuBar_List_Item_Indicator{
        width: 75px;
        height: 35px;
        background-color: var(--SAP-Purple-Level-3L);
    }

    .Page_Content_Main{
        grid-area: Content;
    }

    .Page_Content{
        grid-template-columns: unset;
        grid-template-rows: 1fr auto;
        grid-template-areas: 
        "Content"
        "MenuBar";
    }

    .Sidebar{
        width: 100% !important;
        bottom: 0;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        transition: height 0s;
    }
    .Sidebar > .Tabs_Vertical_Container_Selector_Item > .Tabs_Vertical_Container_Selector_Item_Text{
        position: fixed;
        bottom: 60px;
        left: 50%;
        background-color: var(--BG-Color-Overlay-Sidebar);
        border: solid var(--BG-Color-General-Menus);
        border-radius: 5px;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        /* display: none; */
        opacity: 0%;
        transform: translateX(-50%);
        pointer-events: none;
    }
    .Sidebar > .Tabs_Vertical_Container_Selector_Item:hover > .Tabs_Vertical_Container_Selector_Item_Text{
        display: block;
        opacity: 100%;
        /* transform: translateY(0px); */
    }
   .Sidebar > .Tabs_Vertical_Container_Selector_Item[State="Selected"]:hover > .Tabs_Vertical_Container_Selector_Item_Text{
        border: solid var(--Color-Borders-Hover);
        background-color: var(--BG-Color-Button-General-Accent-Focus);
        box-shadow: var(--Element-BoxShadow-Hover);
    }
    .Sidebar > .Tabs_Vertical_Container_Selector_Item{
        margin-left: 5px;
        min-width: 1px;
        justify-items: center;
    }
    .Sidebar > .Tabs_Vertical_Container_Selector_Item[State="Selected"]{
        min-width: 80px;
        grid-template-columns: 1fr 1px;
    }
    .MainContent[Style_Margin_Sidebar="Enabled"]{
        margin-left: unset;
        width: unset;
    }
    .Ribbon[Style_Margin_Sidebar="Enabled"]{
        margin-left: unset;
        width: 100%;
    }
    .Tab_Container_Content_Item[Tabs_Transition="CurrentTab_Upwards"]{
        animation-name: Tabs_Transition_CurrentTab_Left;
    }
    
    .Tab_Container_Content_Item[Tabs_Transition="NewTab_Upwards"]{
        animation-name: Tabs_Transition_NewTab_Left;
    }
    
    .Tab_Container_Content_Item[Tabs_Transition="CurrentTab_Downwards"]{
        animation-name: Tabs_Transition_CurrentTab_Right;
    }
    
    .Tab_Container_Content_Item[Tabs_Transition="NewTab_Downwards"]{
        animation-name: Tabs_Transition_NewTab_Right;
    }
    .Header_SidebarToggle{
        display: none;
    }
    .Header[Style_Margin_SidebarToggle="Enabled"]{
        margin-left: 0px;
        width: 100%;
    }
    .MainContent[Style_Margin_Header="Enabled"]{
        margin-top: unset;
        margin-top: 43px;
        height: calc(100% - 86px);
    }    
    .MainContent[Style_Margin_Ribbon="Enabled"]{
        margin-top: 33px;
        height: calc(100% - 76px);
    }
    
    .MainContent[Style_Margin_Header="Enabled"][Style_Margin_Ribbon="Enabled"]{
        margin-top: 76px;
        height: calc(100% - 119px);
    }
    .Header_PageNavigation_Menu{
        animation-duration: 0.2s;
    }
    @keyframes Overlays_Menu_Open{
        0% {
            max-height: 75%;
            opacity: 0%;
            transform: translateY(-20px);
        }
        100% {
            max-height: 100%;
            opacity: 100%;
            transform: translateY(0px);
        }
    }    
    @keyframes Overlays_Menu_Close{
        0% {
            max-height: 100%;
            opacity: 100%;
            transform: translateY(0px);
        }
        100% {
            max-height: 0%;
            opacity: 0%;
            transform: translateY(-20px);
        }
    }
}

/* SAP */
/* Home */
@media only screen and (max-width: 700px){
    .Home_Welcome_Content{
        grid-template-columns: unset;
        grid-template-rows: 1fr 0fr;
        padding-bottom: 30px;
    }

    @keyframes Home_Welcome_Sequence_1{
        0% {
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
            margin: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
        }
        30% {
            grid-template-rows: 1fr 0fr;
        }
        100% {
            width: calc(100% - 60px);
            height: calc(100% - 120px);
            max-width: 1100px;
            max-height: 700px;
            margin: 30px;
            grid-template-rows: auto 1fr;
            padding-bottom: 30px;
        }
    }

    .Home_Welcome_Title{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        padding-bottom: 30px;
    }

    @keyframes Home_Welcome_Sequence_2{
        0% {
            background-position: 0% 100%;
            opacity: 0%;
        }
        10%{
            opacity: 100%;
        }
        100% {
            background-position: 100% 100%;
            opacity: 100%;
        }
    }

    .Home_Welcome_Title_Text{
        font-size: 45px;
    }

    .Home_Welcome_Main{
        padding-top: 10px;
    }

    .MenuBar[State = "Collapsed"]{
        width: 100%;
    }

    .MenuBar[State = "Collapsed"] > .MenuBar_List > .MenuBar_List_Item > .MenuBar_List_Item_Text{
        opacity: 100%;
    }
}

/* Quiz player */
@media only screen and (max-width: 700px){
    .Quiz_Form_Image, .Quiz_Form_Image_Image{
        height: auto;
    }
    .Quiz_Finisher{
        width: calc(100% - 20px);
        padding: 10px;
    }
    .Quiz_Finisher_Content{
        height: calc(100% - 60px);
        width: 100%;
        /* background-color: red; */
        padding: 30px;
        /* padding-bottom: 20px; */
    }
    [HideOnSmall]{
        display: none;
    }
    .Quiz
    .MenuBar_List_Item[Display = "none"]{
        display: none !important;
    }
    .Page_Content[State = "Hide"]{
        grid-template-areas: "Content" !important;
    }
    .MenuBar[State = "Hide"]{
        position: fixed;
        transform: translateY(100%);
    }
    .Quiz_Questions_List{
        position: absolute;
        top: 0;
        width: calc(100% - 20px);
        height: calc(100% - 70px);
        padding-bottom: 0px;
        padding: 10px;
        padding-top: 20px;
        background-color: var(--SAP-Gray-Level-3L);
        /* max-height: unset; */
        grid-template-columns: repeat(auto-fit, 50px);
        grid-template-rows: repeat(auto-fit, 50px);
        grid-gap: 5px;
        justify-content: center;
        z-index: -10;
    }
    .Quiz_Questions_List[State = "Collapsed"]{
        transform: translateY(200%);
        pointer-events: none;
        max-height: calc(100% - 90px);
        opacity: 0%
    }
    .Quiz_Questions_List[State = "Expanded"]{
        transform: translateY(0%);
        opacity: 100%;        
        overflow-y: auto;
        max-height: calc(100% - 100px);
        padding-bottom: 0px;
    }
    .Quiz_Questions_List_Item{
        margin: unset;
    }
    .Quiz_Finisher{
        height: calc(100% - 20px);
        padding: 10px;
    }
}